[submodule "UCR_CS217_24F"]
	path = UCR_CS217_24F
	url = git@github.com:SJZHZ/UCR_CS217_24F.git
[submodule "matrix-addition-SJZHZ"]
	path = matrix-addition-SJZHZ
	url = git@github.com:UCR-CSEE217/matrix-addition-SJZHZ.git
[submodule "reduction-SJZHZ"]
	path = reduction-SJZHZ
	url = git@github.com:UCR-CSEE217/reduction-SJZHZ.git
[submodule "histogram-SJZHZ"]
	path = histogram-SJZHZ
	url = git@github.com:UCR-CSEE217/histogram-SJZHZ.git
